<h1>{{title}}</h1>
{{# if products }}
    <div class="cart page">
        <ul class="list-group">
            {{# each products }}
            <li class="list-group-item clearfix">
                <div class="col-xs-5">
                    <strong>{{ this.item.title }}</strong><br/>
                    <em>{{{this.item.description}}}</em>
                </div>
                <div class="col-xs-2 text-right">
                    <span class="badge">{{ this.quantity }}</span>
                </div>
                <div class="col-xs-3 text-right">
                    {{ this.price }} CHF
                </div>
                <div class="col-xs-2 text-right">
                    <a href="/remove/{{this.item.id}}" class="btn btn-default"></i> Remove</a>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="text-right">
        <strong>Total: {{ totalPrice }} CHF</strong>
    </div>
    <hr>
    <div class="text-right">
        <a href="#" type="button" class="btn btn-success">Checkout</a>
    </div>
{{ else }}
    Your shopping cart is empty.
{{/if}}
